<div class="span3 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav">
          <li><a href="@routes.Welcome.index()"><i class="icon-chevron-right"></i>HOME</a></li>
          <li><a href="@routes.CustomerController.index()"><i class="icon-chevron-right"></i>CUSTOMER</a></li>
          <li><a href="#transitions"><i class="icon-chevron-right"></i>CUSTOMER LOG</a></li>
          <li><a href="#modals"><i class="icon-chevron-right"></i>REPORTS</a></li>
          <li><a href="@routes.UserController.get_change_passwd()"><i class="icon-chevron-right"></i>MY ACCOUNT</a></li>          
        </ul>
      </div>